name: Maven Build

on:
  push:
    branches-ignore:
      - master
    paths:
      - 'src/**'
      - 'pom.xml'
  pull_request:
    paths:
      - 'src/**'
      - 'pom.xml'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.4

      - uses: actions/setup-java@v2.3.0
        with:
          distribution: adopt
          java-version: '8'
          cache: 'maven'

      - run: mvn package --file pom.xml
